.card 
   .card__cover 
      .cover__image-container 
         img(src=require("./assets/png/template_book_cover.png"), alt="banner").card__cover-img
   .card__info
      .card__info-container
         .card__author
            p.card__author-txt Kevin Kwan
         .card__title
            p.card__title-txt Crazy rich asians
         .card__rating-container 
            .card__rating
            .card__review 
               p.card__review-txt 252 review
         .card__description 
            p.card__description-txt 
               | the outrageously funny debut novel 
               | about three super-rich, pedigreed 
               | Chinese families and the gossip...
         .card__price 
            p.card__price-txt $4.99
         button.card__buy-btn BUY NOW