section.shop
   .genres
      .genres__block
         li.genres__list 
            ul.genres__list-item.first
               .genre-pointer
               button.genres__list-btn.active-genre-button.architecture-btn Architecture
            ul.genres__list-item 
               .genre-pointer.hidden
               button.genres__list-btn.art-btn Art & Fashion
            ul.genres__list-item 
               .genre-pointer.hidden
               button.genres__list-btn.biography-btn Biography
            ul.genres__list-item 
               .genre-pointer.hidden
               button.genres__list-btn.business-btn Business
            ul.genres__list-item 
               .genre-pointer.hidden
               button.genres__list-btn.crafts-btn Crafts & Hobbies
            ul.genres__list-item 
               .genre-pointer.hidden
               button.genres__list-btn.drama-btn Drama
            ul.genres__list-item 
               .genre-pointer.hidden
               button.genres__list-btn.fiction-btn Fiction
            ul.genres__list-item 
               .genre-pointer.hidden
               button.genres__list-btn.food-btn Food & Drink
            ul.genres__list-item 
               .genre-pointer.hidden
               button.genres__list-btn.health-btn Health & Wellbeing
            ul.genres__list-item 
               .genre-pointer.hidden
               button.genres__list-btn.history-btn History & Politics
            ul.genres__list-item 
               .genre-pointer.hidden
               button.genres__list-btn.humor-btn Humor
            ul.genres__list-item 
               .genre-pointer.hidden
               button.genres__list-btn.poetry-btn Poetry
            ul.genres__list-item 
               .genre-pointer.hidden
               button.genres__list-btn.psychology-btn Psychology
            ul.genres__list-item 
               .genre-pointer.hidden
               button.genres__list-btn.science-btn Science
            ul.genres__list-item 
               .genre-pointer.hidden
               button.genres__list-btn.technology-btn Technology
            ul.genres__list-item 
               .genre-pointer.hidden
               button.genres__list-btn.travel-btn Travel & Maps
   .books 
      .books__block 
      button.shop__more-btn LOAD MORE

   




